.post__container {
    margin-top: 100px;
}

.title {
    text-align: center;
    font-size: 40px;
}

.post {
    border: 1px solid black;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 15px auto;
    button {
        border: 1px solid #333;
        background-color: #333;
        padding: 8px;
        color: white;
        cursor: pointer;
        transition: all 300ms ease-in-out;
        &:hover {
            background-color: #F4F4F4;
            color: black;
            border: 1px solid black;
            box-sizing: border-box;
        }
    }
}